*{
    margin: 0;
    padding:0;
} 
body{
    font-family: sans-serif;
}

.Layout{
    background-image: url('imagens/background.jpg');
    height: 320px;
    background-size: cover;
    background-position:  center;
    padding-top:200px;
    background-attachment: fixed;

} .Layout{
    text-align: center;
    color: #fff;
    font-size: 3em;
    font-weight:bold; 
}
.Modulo{
    padding: 150px 0px 150px 0px;
    margin: 0 auto;
    max-width: 1024px;
} 
.footer{
    background-color: #8b0000;
    padding: 70px;
    text-align: center;
    color: #fff;
    font-size: 0.9cm;
} #top{
    position: fixed;
    cursor: pointer;
    right: 15px;
    bottom: 15xp;
}